[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Security;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=openvas-security-scanner

X-SuSE-YaST-Group=Security
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=openvas-security-scanner

Icon=yast-openvas
Exec=/sbin/yast2 openvas-security-scanner 

Name=OpenVAS Security Scanner
GenericName=Configure the OpenVAS Security Scanner
X-KDE-SubstituteUID=true
StartupNotify=true
